body {
    background-color: #f6f6f6;
}

hr {
    border-style: dotted none none none;
    color: #ffc7c7;
    border-top-width: 5px;
    height: 1px;
    width: 5%;
}

h1 {
    color: #8785a2;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

h3 {
    color: #8785a2;
    font-family: 'Work Sans', sans-serif;
}
p {
    font-family: 'Lato', sans-serif;
}

img {
    border-radius: 50%;
    block-size: 15%;
}

img:hover {
    border-radius: 50%;
    block-size: 35%;
}

.list {
    font-family: 'Lato', sans-serif;
}
.table {
    font-family: 'Lato', sans-serif;
}